rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /downloads/{allPaths=**} {
      allow read: if true;
      allow write: if false;
    }
    match /{allOtherPaths=**} {
      allow read, write: if false;
    }
  }
}
